// bower:scss
// endbower

//variables
$logo-blue: #399fd3;
$logo-red: #cf1b41;
$less-header-padding: 700px;
$header-break: 568px;

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.logo {
  background: url('../images/nd_logo_light.png') left center no-repeat;
  background-size: contain;
  height: 72px;
  @media screen and (max-width: $header-break) {
    background-position: center;
  }
}

.banner {
  background: url('../images/daily-press-bg.jpg');
  background-size: 100% 100%;
  width: 100%;
}

.padding {
  padding: 1em 4em;
}

header {
  @media screen and (max-width: $less-header-padding) {
    padding: 1em !important;
  }

}

#datetime{
  text-align: right;
  padding-top: 5px!important;
  padding-right: 1em!important;
  @media screen and (max-width: $less-header-padding) {
    padding-top: 0;
  }@media screen and (max-width: $header-break) {
    text-align: center !important;
    padding-right: 0!important;
  }
}